*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* inherited the box-sizing property in the body selector to apply in the entire document */
  box-sizing: inherit; }

body {
  /* let us customize the box size model with specific unit without the default values */
  box-sizing: border-box;
  font-family: sans-serif; }

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.95);
  box-shadow: 0 2px 5px 0 rgba(216, 216, 218, 0.7); }
  .navbar__left {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 10em; }
    .navbar__left .navbar__hamburger__menu {
      width: 25px;
      margin-right: .5rem; }
    .navbar__left .navbar__link {
      margin-bottom: 5px; }
      .navbar__left .navbar__link-text__active-left {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.95);
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        margin-right: 1.2em; }
    .navbar__left .navbar__site-logo__img {
      margin-top: 15px;
      margin-left: 3px;
      width: 200px; }
  .navbar__right {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 8rem; }
    .navbar__right .navbar__mag__icon {
      margin-top: 13px;
      margin-right: 10px;
      width: 52px; }
    .navbar__right .navbar__search__icon {
      width: 17px;
      margin-right: .6rem; }
    .navbar__right .navbar__link {
      margin-right: .4rem;
      font-size: 14px;
      line-height: 20px; }
      .navbar__right .navbar__link__text {
        color: rgba(0, 0, 0, 0.95);
        text-decoration: none; }
      .navbar__right .navbar__link__text-border {
        color: rgba(0, 0, 0, 0.95);
        text-decoration: none;
        padding: 0 14px;
        border-right: 1px solid #D7D7D9;
        border-left: 1px solid #D7D7D9; }
      .navbar__right .navbar__link__text__active-right {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 1px;
        font-weight: 700;
        color: #BF3A32;
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 1.2rem; }

.main-container {
  font-family: "Lato", sans-serif;
  width: 60%;
  max-width: 850px;
  margin: 90px auto; }
  .main-container .title__list-link {
    display: flex;
    margin-bottom: 1.5rem; }
    .main-container .title__list-link__item {
      margin-right: 30px; }
      .main-container .title__list-link__item:first-child {
        list-style: none; }
    .main-container .title__list-link__text {
      font-size: 14px;
      line-height: 20px;
      font-weight: 900;
      color: rgba(0, 0, 0, 0.95);
      text-decoration: none;
      text-transform: uppercase; }
      .main-container .title__list-link__text:hover {
        text-decoration: underline; }
  .main-container .title__header__heading {
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.95); }
  .main-container .title__header__paragraph {
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.95);
    margin-top: 10px; }
  .main-container .title__author {
    font-size: 14px;
    line-height: 20px;
    margin: 1rem 0; }
    .main-container .title__author__name {
      font-weight: 700;
      color: rgba(0, 0, 0, 0.95);
      text-decoration: none; }
      .main-container .title__author__name:hover {
        text-decoration: underline; }
  .main-container .title__paragraph {
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 1.5rem; }
  .main-container .main-content__photo-container__img {
    width: 100%; }
  .main-container .main-content__paragraph {
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.95);
    margin-top: 28px; }
  .main-container .main-content__link {
    margin-top: 28px; }
    .main-container .main-content__link__text {
      color: rgba(0, 0, 0, 0.95);
      font-size: 18px;
      line-height: 28px; }
  .main-container .figure {
    margin: 2rem auto; }
    .main-container .figure__img {
      width: 640px; }

.footer {
  display: flex;
  padding: 38px;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 4rem;
  font-family: "Lato", sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 0.95);
  background-color: #F2F2F2;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  .footer__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px; }
  .footer__heading-logo {
    display: inline-flex;
    flex: 0 0 100%;
    margin-top: 1rem;
    margin-bottom: 3rem; }
    .footer__heading-logo__img {
      width: 200px;
      height: 100%;
      margin: 0 auto; }
  .footer__left-container {
    flex: 0 0 380px;
    padding-bottom: 5rem; }
    .footer__left-container__img {
      margin-top: 1rem;
      width: 300px; }
  .footer__middle-container {
    height: 320px;
    flex: 0 0 370px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.15); }
    .footer__middle-container-list {
      font-size: 14px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.95);
      list-style: none; }
    .footer__middle-container__item {
      margin-top: 5px;
      padding-top: 12px; }
    .footer__middle-container__link {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.95); }
      .footer__middle-container__link:hover {
        text-decoration: underline; }
  .footer__right-container {
    flex: 0 0 300px; }
    .footer__right-container__paragraph {
      font-size: 14px;
      line-height: 20px;
      margin: 1rem; }
    .footer__right-container__social {
      width: 130px;
      margin-bottom: 2.2rem; }
    .footer__right-container__btn {
      padding: 10px;
      width: 130px;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: #000;
      border-style: solid;
      border-color: #000;
      border-width: 4px;
      background-color: #fcfcfc; }
