.main-container{
    font-family: "Lato", sans-serif;
    width: 65%;
    max-width: 850px;
    margin: 90px auto;
    // MEDIA QUERIES
    @include respond(phone) { 
        width: 73%;
     } 
     @include respond(small-phone) { 
        width: 90%;
     } 

.title{
    &__list-link{ 
        display: flex;
        margin-bottom: 1.5rem;
       &__item{
            margin-right: 30px;
           &:first-child{
            list-style: none;
           }
       }   
        &__text{
            font-size: 14px;
            line-height: 20px;
            font-weight: 900;
            color: $color-primary;
            text-decoration: none;
            text-transform: uppercase;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &__header{
        &__heading{
            font-size: 48px;
            line-height: 52px;
            font-weight: 700;
            color: $color-primary;
            // MEDIA QUERIES
            @include respond(phone) { 
                font-size: 38px;
                line-height: 47px;
            } 
            @include respond(small-phone) { 
                font-size: 30px;
                line-height: 37px;;
             } 
        }
        &__paragraph{
            font-size: 18px;
            line-height: 28px;
            color: $color-primary;
            margin-top: 10px;
            // MEDIA QUERIES
            @include respond(phone) { 
                // font-size: 14px;
                // line-height: 25px;
            } 
        }
    }
    &__author{
        font-size: 14px;
        line-height: 20px;
        margin: 1rem 0;
        // MEDIA QUERIES
        @include respond(phone) { 
            font-size: 12px;
        } 
        &__name{
            font-weight: 700;
            color: $color-primary;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &__paragraph{
        font-size: 14px;
        line-height: 20px;
        font-style: italic;
        color: rgba(0, 0, 0, 0.65);
        margin-bottom: 1.5rem;     
    }
}
.main-content{
        &__photo-container{
            &__img{
                width: 100%
            }
        }
        &__paragraph{
            font-size: 18px;
            line-height: 28px;
            color: $color-primary;
            margin-top: 28px;
        }
        &__link{
            margin-top: 28px;
            &__text{
                color: $color-primary;
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
    .figure{
        margin: 2rem auto;
        &__img{
            width: 600px;
            // MEDIA QUERIES
            @include respond(phone) { 
                width: 560px; 
             } 
             @include respond(small-phone) { 
                width: 420px;
             } 
        }
    }
}