.footer{
    display: flex;
    padding: 38px;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 4rem;
    text-align: center;
    color: $color-primary;
    border-top: 1px solid rgba(0,0,0,.15);
    border-bottom: 1px solid rgba(0,0,0,.15);

    &__heading {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }
    &__heading-logo{
        display: inline-flex;
        flex: 0 0 100%;
        margin-top: 1rem;
        margin-bottom: 3rem;

        &__img{
            width: 23%;
            height: 100%;
            margin: 0 auto;
        }
    }
    // Left Container
    &__left-container{
        flex: 0 0 30%;
        padding-bottom: 5rem;

        &__img{
            margin-top: 1rem;
            width: 60%;
        }
    }
    // Midle Container
    &__middle-container{
        height: 320px;
        flex: 0 0 30%;
        border-right:1px solid rgba(0,0,0,.15);
        border-left: 1px solid rgba(0,0,0,.15);

        &-list {
            font-family: "Lora";
            font-size: 14px;
            line-height: 20px;
            color: $color-primary;
            list-style: none;
        }
        &__item{
            margin-top: 5px;
            padding-top: 12px;

        }
        &__link{
            text-decoration: none;
            color: $color-primary;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    // Right Container
    &__right-container{
        flex: 0 0 30%;
        &__paragraph{
            font-family: "Lora";
            font-size: 14px;
            line-height: 20px;
            margin: 1rem;
        }
        &__social{
            width: 45%;
            margin-bottom: 1rem;
        }

        &__btn{
             padding: 12px;
             width: 180px;
             font-size: 15px;
             text-transform: uppercase;
             letter-spacing: 0.1em;
             color: #f5416c;
             border-style: solid;
             border-color: #f5416c;
             border-width: 3px;
             background-color: rgb(252, 252, 252);
        }
    }
}