.footer{
    display: flex;
    padding: 38px;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 4rem;
    font-family: "Lato", sans-serif;
    text-align: center;
    color: $color-primary;
    background-color: #F2F2F2;
    border-top: 1px solid rgba(0,0,0,.15);
    border-bottom: 1px solid rgba(0,0,0,.15);

        // Left Container
    &__heading {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }
    &__heading-logo{
        display: inline-flex;
        flex: 0 0 100%;
        margin-top: 1rem;
        margin-bottom: 3rem;

        &__img{
            width: 200px;
            height: 100%;
            margin: 0 auto;
        }
    }

    &__left-container{
        flex: 0 0 350px;
        padding-bottom: 5rem;
        // MEDIA QUERIES
        @include respond(phone){
            flex: 0 0 100%;
        }

        &__img{
            margin-top: 1rem;
            width: 300px;

              // MEDIA QUERIES
         @include respond(phone){
            width: 265px;
        }
        }
    }
    // Midle Container
    &__middle-container{
        height: 360px;
        flex: 0 0 300px;
        border-right:1px solid rgba(0,0,0,.15);
        border-left: 1px solid rgba(0,0,0,.15);

         // MEDIA QUERIES
         @include respond(phone){
             border-left: none;
             flex: 0 0 230px;
             height: 300px;

         }
         @include respond(small-phone){
            border-right: none;
         }

        &-list {
            font-size: 14px;
            line-height: 20px;
            color: $color-primary;
            list-style: none;
        }
        &__item{
            margin-top: 5px;
            padding-top: 12px;
        }
        &__link{
            text-decoration: none;
            color: $color-primary;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    // Right Container
    &__right-container{
        flex: 0 0 290px;

        @include respond(phone) {
            flex: 0 0 230px;

        }
        &__paragraph{
            font-size: 14px;
            line-height: 20px;
            margin: 1rem;
        }
        &__social{
            width: 130px;
            margin-bottom: 2.2rem;
        }

        &__btn{
             padding: 10px;
             width: 130px;
             font-size: 15px;
             font-weight: 700;
             text-transform: uppercase;
             letter-spacing: 0.1em;
             color: #000;
             border-style: solid;
             border-color: #000;
             border-width: 4px;
             background-color: rgb(252, 252, 252);
        }
    }
}